body,
main {
  padding-top: 70px;
  font-size: 16px;
}

main {
  height: 1000px;
  margin: 25px 0;
}

.skip-nav {
  position: absolute !important;
  top: -100px;
  transition: all 0.25s ease;
  left: 0px;
  background: #ffffff !important;
  color: #0c84e4 !important;
  z-index: 99999;
}

.skip-nav:focus {
  top: 0px;
}

.colors-one,
.colors-one h2 {
  color: #8d6708;
}

.colors-two,
.colors-two h2 {
  background: #00cd34;
  color: #522032;
}

.colors-three,
.colors-three h2 {
  background: green;
  color: #fffacd;
}
